<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {% include head.html %}
  {% seo %}

  <body>

    {% include header.html %}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>

    <section class="constrain">
    <h3>Leave a Reply</h3>
    {% include comments-new.html %}
    </section>
  
    <section class="constrain">
    <h3>All comments</h3>

    {% include comments.html %}
    </section>

    {% include footer.html %}

  </body>

</html>
